<!-- Body -->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <article>
                <h1><a href="/single/{{article.id}}">{{article.title}}</a></h1>
                <div class="row">
                    <div class="group1 col-sm-6 col-md-6">
                        <span class="glyphicon glyphicon-folder-open"></span> &nbsp;<a href="#">Signs</a>
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>, <a
                            href="#">Fire</a>, <a href="#">Mars</a>
                    </div>
                    <div class="group2 col-sm-6 col-md-6">
                        <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20
                        Comments</a>
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                    </div>
                </div>
                <hr>
                <img src="http://placehold.it/900x300" class="img-responsive">
                <br/>
                <p>{{article.content}}</p>
            </article>

            <div class="row">
                <div class="col-md-12">
                    <h3>Comment Section:</h3>
                    <ul>
                        {{#each article.Comments as |item|}}
                            <li>{{ item.comment }}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well text-center">
                <p class="lead">
                    Don't want to miss updates? Please click the below button!
                </p>
                <button class="btn btn-primary btn-lg">Subscribe to my feed</button>
            </div>

            {{> categorySidebar}}

            {{> latestPostsSidebar}}

            <!-- Recent Comments -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Recent Comments</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">I don't believe in astrology but still your writing style is
                        really great! - <em>john</em></a></li>
                    <li class="list-group-item"><a href="#">Wow.. what you said is really true! I'm an aries though -
                        <em>Anto</em></a></li>
                    <li class="list-group-item"><a href="#">Does capricorn and aries is compatibile? -
                        <em>Sarah</em></a></li>
                    <li class="list-group-item"><a href="#">I'm a cancer woman been in love with Leo. Will this work? -
                        <em>Mary</em></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
